#content {
	width: 80%;
	margin: auto;
	background-color: rgba(255,255,255,0.32);
	padding: 25px;
	margin-top: 25px;
}
#content p {
	padding: 15px;
	padding-top: 0;
}
#content h1 {
	text-align: center;
	margin: 0;
	width: 75%;
	margin: auto;
	padding: 10px;
}
.exampleT1, .exampleT2, .exampleT3{
	font-size: 32px;
	padding: 30px;
	width: 225px;
	height: 100px;
	text-align: center;
	border-radius: 5px;
	transition-property: all, box-shadow, height;
	transition-duration: 1s, 3s, 10s;
	transition-timing-function: ease, ease-in-out, linear;
	margin: auto;
	box-shadow: none;
	margin-top: 100px;
	background-color: #3E94EC;
}
.exampleT1:hover{
	width: 250px;
	padding: 10px;
	text-align: left;
	border-radius: 50px;
	font-size: 25px;
}
.exampleT2:hover{
	width: 20px;
	padding: 5px;
	color: white;
	text-align: left;
	font-size: 10px;
}
.exampleT3:hover{
	width: 250px;
	height: 900px;
	padding: 10px;
	text-align: right;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	border-radius: 2px;
	background-color: red;
	color: lightpink;
	font-size: 25px;
}
@keyframes example1{
	0% {width: 230px;padding: 5px;color: red;position:relative;top: 10px;left: 10px;}
	3.5% {width: 220px;padding: 15px;color: white;}
	7% {width: 230px;padding: 5px;color: red;}
	10.5% {width: 220px;padding: 15px;color: white;}
	14% {width: 230px;padding: 5px;color: red;position: relative;top: 10px;left: 100px;}
	17.5% {width: 220px;padding: 15px;color: white;}
	21% {width: 230px;padding: 5px;color: red;}
	24.5% {width: 220px;padding: 15px;color:white;}
	28% {width: 230px;padding: 5px;color:red;position: relative;top: 100px;left: 100px;}
	31.5% {width: 220px;padding: 15px;color: white;}
	35% {width: 230px;padding: 5px;color: red;}
	38.5% {width: 220px;padding: 15px;color: white;}
	42% {width: 230px;padding: 5px;color: red;position: relative;top: 100px;left: 10px;}
	45.5% {width: 220px;padding: 15px;color: white;}
	49% {width: 230px;padding: 5px;color: red;}
	52.5% {width: 220px;padding: 15px;color: white;}
	56% {width: 230px;padding: 5px;color: red;position:relative;top: 10px;left: 10px;}
	59.5% {width: 220px;padding: 15px;color: white;}
	63% {width: 230px;padding: 5px;color: red;}
	66.5% {width: 220px;padding: 15px;color: white;}
	70% {width: 230px;padding: 5px;color: red;position: relative;top: 10px;left: 100px;}
	73.5% {width: 220px;padding: 15px;color: white;}
	77% {width: 230px;padding: 5px;color: red;}
	80.5% {width: 220px;padding: 15px;color:white;}
	84% {width: 230px;padding: 5px;color:red;position: relative;top: 100px;left: 100px;}
	87.5% {width: 220px;padding: 15px;color: white;}
	91% {width: 230px;padding: 5px;color: red;}
	94.5% {width: 220px;padding: 15px;color: white;}
	98% {width: 230px;padding: 5px;color:red;position: relative;top: 10px;left: 10px;}
	100% {width: 220px;padding: 15px;color: white;}
}
@keyframes example2{
	
}
@keyframes example3{
	
}
.a1{
	animation-name: example1;
	animation-duration: 4s;
	animation-delay: 5s;
	animation-iteration-count: infinite;
}
.a2{
	animation-name: example2;
}
.a3{
	animation-name: example3;
}
.example{
	font-size: 32px;
	padding: 30px;
	width: 225px;
	height: 100%;
	text-align: center;
	border-radius: 5px;
	margin: auto;
	animation-name: example1, example2, example3;
	box-shadow: none;
	margin-top: 100px;
	background-color: #3E94EC;
}