/*Desktop, Large Devices*/
/*Element Styles*/
body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
}
/*ID Styles*/
#wrap{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#header{
	margin: auto;
	width: 80%;
	height: 175px;
}
#head_top{
	width: 100%;
	height: 150px;
	border: black 1px solid;
}
#head_top_left{
	display: block;
	float: left;
	width: 25%;
	height: 100px;
}
#head_top_mid{
	display: block;
	float:left;
	width: 50%;
	margin: auto;
	height: 100px;
}
#head_top_right{
	display: block;
	float: left;
	width: 25%;
	height: 100px;
}
#cart{
	margin-left: 50%;
	margin-top:15%;
    background-color: #D3D3D3;
    border: none;
	border-radius: 4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	transition: box-shadow 0.25s;
}
#cart:hover{
	box-shadow: 0px 2px 10px 2px black;
}
#head_bottom{
	width: 100%;
	height: 75px;
}
#menu_holder{
}
#menu{
	display: block;
	width: 60%;
	position: inherit;
	margin: auto;
	padding: 0;
}
#menu li{
	display: block;
	float: left;
	text-align: center;
	width: 19%;
	height: 50px;
	line-height: 50px;
	margin: 0px;
	padding: 0px;
	margin-top: -35px;
	background: white;
	border-bottom: black solid 1px;
	border-top: black solid 1px;
	border-left: black solid 1px;
	transition: box-shadow 0.25s;
}
#menu li:hover{
	position: relative;
	z-index: 10;
	box-shadow: inset 0px 0px 10px 1px black;
}
#menu li:nth-child(odd){
	background-color:#D3D3D3;
}
#menu li:last-child{
	border-right: black solid 1px;
}
#content{
	width: 80%;
	margin: auto;
	height: 100%;
}
#image_slider{
	height: 350px;
	width: 100%;
	margin: auto;
	border:1px solid black;
}
#featured{
	
}
#featured h1{
	text-align: center;
	width: 250px;
	margin: auto;
	padding-bottom: 3px;
	padding-top: 5px;
	border-bottom: black solid 2px;
}
#image_gallery{
	width: 100%;
	height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
	position: relative;
}
#gallery_shrink{
	width: 80%;
	max-width: 825px;
	margin: auto;
}
#footer{
	position: absolute;
	width: 100%;
	height:150px;
	margin-top: 15px;
	background-color: #D3D3D3;
}
/*Class Styles*/
.title{
	display: block;
	font-size: 45px;
	line-height: 75px;
	text-align: center;
	width: 100%;
	height: 75px;
}
.sub-title{
	display: block;
	font-size: 16px;
	text-align: center;
	width: 100%;
	line-height: 25px;
	height: 25px;
}
.gallery_item{
	display: inline-block;
	padding: 5px;
	position: absolute;
}
.rightArrow{
	background-image: url(Images/rightArrow.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
    right: 0px;
    margin: -25px 0 0 -25px;
}
.leftArrow{
	background-image: url(Images/leftArrow.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
    left: 0px;
    margin: -25px 0 0 -25px;
}
.alignMiddle{
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
